<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The weather app</title>
    <meta name="description" content="This is a simple weather app">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div 
      id="bg" 
      class="container-fluid" 
      style="background-image: url('<%= background %>');">
        <div class="row h-100">
          <div class="col-8 p-5 d-flex flex-column justify-content-between">
            <h1 class="text-white">The Weather App</h1>
            
            <div class="row pb-5 text-center">
              <div class="col-xl-2 col-md-7 details">
                <p id="temperature"><%= current.temperature %>ºC</p>
              </div>
              <div class="col-xl-3 col-md-7 details">
                <div class="row">
                  <p id="city"><%= daily.today.location %>, <%= current.countryCode %> </p>
                </div>
                <div class="row">
                  <p><%= daily.today.date %></p>
                </div>
              </div>
              <div class="col-xl-2 col-md-7 details">
                <div class="row">
                  <img id="weather-icon" src="<%= current.icon %>" class="mx-auto" alt="<%= current.description %>" />
                </div>
                <div class="row">
                  <p><%= current.description %></p>
                </div>             
              </div>
              <div class="col-auto"></div>
            </div>
          </div>
        
          <aside class="col-4">

            <form action="/search" method="POST" class="row pb-5">
              <div class="col-8 offset-1">
                  <div class="form-group">
                    <label for="location"></label>
                    <input type="text" class="form-control shadow-none border-start-0 border-top-0 border-end-0 rounded-0 text-light" id="location" name="location" placeholder="Location">
                  </div>
              </div>
              <button type="submit" id="search" class="col-2 offset-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </button>
            </form>

            <div class="text-light aside-elem pb-5">
              <div class="row pb-4">
                <div class="col-10 offset-1">
                  <h2 class="text-white">Weather details</h2>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>
                    <img class="sun" src="..\img\sunrise.webp" alt="sunrise" />
                    <%= current.sunrise %>
                  </p>
                </div>
                <div class="col-5 text-end">
                  <p>
                    <img class="sun" src="..\img\sunset.webp" alt="sunset" />
                    <%= current.sunset %>
                  </p>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>Pressure</p>
                </div>
                <div class="col-5 text-end">
                  <p><%= current.pressure %> hpa</p>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>UV Index</p>
                </div>
                <div class="col-5 text-end">
                  <p><%= current.uvIndex %></p>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>Precipitations</p>
                </div>
                <div class="col-5 text-end">
                  <p><%= current.precip %> mm/hr</p>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>Wind Speed</p>
                </div>
                <div class="col-5 text-end">
                  <p><%= current.windSpeed %> m/s</p>
                </div>
              </div>   
              <div class="row pb-3">
                <div class="col-5 offset-1">
                  <p>Wind Direction</p>
                </div>
                <div class="col-5 text-end">
                  <p><%= current.windDirection %></p>
                </div>
              </div>                 
            </div>

            <div class="text-light">
              <div class="row pb-4 pt-5">
                <div class="col-10 offset-1">
                  <h2 class="text-white">Forecast</h2>
                </div>
              </div>
              <div class="row pb-3">
                <% 
                  for (let i = 1; i < 6; i++) { %>
                    <div class="col-5 offset-1">
                        <p><%= daily["D" + i].date %></p>
                    </div>
                    <div class="col-5 text-end">
                      <p>
                        <%= daily["D" + i].temperature %>ºC
                        <img class="sun" src=<%= daily["D" + i].icon %> alt="sunset" />
                      </p>
                    </div>
                  <%}
                %>
              </div>
            </div>
          </aside>
        </div>
    </div>
  </body>
</html>